{% extends 'BlogBundle::layout.html.twig' %}

{% block content %}
    <div class="col-sm-6">
        <h2>Nuevo Tag</h2>        
        {{ form_start(form) }}
        {{ form_end(form)}}
    </div>
{% endblock %}
